@(title: String, message: String, entryList: java.util.List[models.entity.Check], page: Integer, maxPage: Integer)

	@main("Hello!!"){

	<h1>@title</h1>
	<p>@message</p>

	<table class="table table-striped">
		<thead>
		<tr><th class="table-column-first">お名前</th><th class="table-column-second">診断結果</th><th class="table-column-third">シェア用ページ</th><th class="table-column-fourth">登録日時</th></tr>
		</thead>

		<tbody>

		@for(el <- entryList){
		<tr>
		<td>@el.name</td>
		<td>@el.result</td>
		<td><a>LINK</a></td>
		<td>@el.created</td>
		</tr>
		}
		</tbody>

	</table>
	<p>
	@helper.pagenate(page,maxPage)
	</p>



	}




