@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title | Checkyou</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        @* TODO: メニュー出力 *@


        <p>
        @tag.menu()
        </p>

        @* TODO: ロゴ出力 *@
        <p>
        @tag.logo()
        </p>


        <div class="container">
            <div class="row">
                @* TODO: エラーメッセージなど出力 *@
                <p>
                @tag.flashMessage()
                </p>

                <div class="content">
                    @* ページ内コンテンツ出力 *@
                    @content
                </div>
            </div>
        </div>
        @* TODO: フッター出力 *@
        <p>
        @tag.footer()
        </p>
    </body>
</html>